/vendor
/node_modules
/.idea
.DS_Store
/public/js
storage/*
!storage/.gitkeep
!storage/checklist
!storage/completed
storage/checklist/*
storage/completed/*
!storage/checklist/.gitkeep
!storage/completed/.gitkeep